body {
  margin: 0;
  background-color: #EFF5FB;
  font-family: sans-serif;
  color: #111;
  line-height: 150%;
}

button:hover {
  cursor: pointer;
}

.garbage-can {
  margin: 24px 0 0;
  padding: 16px;

  background-color: burlywood;
}

.garbage-can__list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.garbage-can__item {
  padding: 8px;
  margin: 12px 0;

  border: 2px dashed black;
}

.expand-collapse-button {
  padding: 0;

  color: rgb(9, 118, 227);
  border: none;
  background-color: transparent;
  font-size: 1em;
}

.no-margin {
  margin: 0;
}

.error {
  color: red;
}

.website {
  padding: 16px;
}

.website__heading {
  text-align: center;
}

.tour {
  margin: 32px auto;
  max-width: 500px;
  
  background-color: #fff;
  border-radius: 10px;
}

.tour__text-part {
  padding: 24px;
}

.tour__image {
  display: block;

  width: 100%;
  height: 300px;

  border-radius: 10px 10px 0 0;

  object-fit: cover;
  object-position: center;
}

.tour__heading-and-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px 24px;
  flex-wrap: wrap;
}

.tour__heading {
  margin: 0;

  font-size: 16px;
}

.tour__price {
  padding: 0 8px;

  color: rgb(9, 118, 227);
  background-color: rgba(9, 118, 227, 0.2);
  font-size: 12px;
  font-weight: bold;
}

.tour__info {
  margin: 24px 0;
  
  font-size: 14px;
}

.tour__button {
  display: block;
  padding: 4px 24px;
  margin: auto;

  background-color: transparent;
  border: 2px solid rgb(235, 26, 92);
  color: rgb(235, 26, 92);
  border-radius: 5px;
  font-size: 14px;
}

.tour__button--type-2 {
  margin: 0;

  color: black;
  border-color: black;
  background-color: wheat;
}